block header
  header
    .container
      .content
        .hero
          h1 Bienvenido!
          p Soy Juan Hiciano, Ingeniero de Sistemas, amante de la tecnología y las buenas historias. 

  hr#hr-header

.box
  h2 Últimas notas
  != partial('./_shared/list', { displayYear: false, notes: partial('_shared/notes', { limit: 8 }) })
  p
    a(href="/notes") Todas las notas
